@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Amsterdam-Four';
    src: url(./assets/fonts/amsterdam-four.ttf)
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roxborough';
    src: url(./assets/fonts/FontsFree-Net-roxborough-cf-regular.ttf)
      format("truetype");
  }
  @font-face {
    font-family: 'DarkerGrotesque';
    src: url(./assets/fonts/DarkerGrotesque.ttf)
      format("truetype");
  }
  @font-face {
    font-family: 'Lora';
    src: url(./assets/fonts/Lora.ttf)
      format("truetype");
  }
}


.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
